{% extends 'student.html'%}
{% load static %}

	{% block content %}
	<!-- StartMain Contents Here with the top navbar -->
	<div class="card text-center" style="width: 100%; padding: 10px; margin-left: auto; margin-right: auto;">
        <div class="card-body">
          <h5 class="card-title">Welcome to StudySphere</h5>
          <p class="card-text">Click the button below to upload a file</p>
          <a href="upload.html" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></a>
        </div>
    </div>
	<!-- EndMain Contents Here with the top navbar -->

	<!-- Custom jquery file -->
{% endblock %}